#logo_levi_img {
    width: 140px;
    height: auto;
    padding-right: 10px;
}

#iosArrow_img{
    width: 40px;
    height: auto;
}

.pad{
    text-transform: uppercase;
    margin: 0 0 0 15px;
    font-weight: 300;
    line-height: 1.02em;
    letter-spacing: 0.1em;
    color: #2f87bb;
    padding-bottom: 10px;
}

.static{
    position:sticky;
    top: 0;
    z-index: 9;
}

.dropdown-menu {
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    background-color: rgb(25, 28, 31);
    border: none;
    margin-top: 5px;
    min-width: 180px;
}

.dropdown-menu .dropdown-item {
    padding: 8px 12px;
    color: #999;
    font-size: 14px;
    border-radius: 4px;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #007bff;
    color: white;
}