@keyframes slideUp {
    from {
        transform: translateY(100vh);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/fotoLevi1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#elementiLogin{
    width: 300px;
    padding: 20px;
    margin: 50px auto;
    background-color: rgba(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    animation: slideUp 1s ease-out;
}

#loginButton{
    border-radius: 15px;
    width: 50%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.form-control{
    background-color: rgba(255, 255, 255, 0.5);
}

input::placeholder {
    color: #999;
    font-size: 15px;
}
#logo {
    width: 150px;
    margin-bottom: 20px;
}