#logo_levi_img {
    width: 140px;
    height: auto;
    padding-right: 10px;
}

#iosArrow_img{
    width: 40px;
    height: auto;
    padding-right: 10px;
}

.pad{
    text-transform: uppercase;
    margin: 0 0 0 15px;
    font-weight: 300;
    line-height: 1.02em;
    letter-spacing: 0.1em;
    color: #2f87bb;
    padding-bottom: 10px;
}